<h1>Welcome to LearnR</h1>

<% if user_signed_in? %>
  <p><%= link_to 'View profile', current_user %></p>
<% end %>
<p><%= link_to 'Sign in', new_user_session_path %></p>
<p><%= link_to 'Sign up', new_user_registration_path %></p>

