//Logic for moving the player
var YPIXELS = 100;
var XPIXELS = 100;
var orientationChanger = {east:  'north',
                          north: 'west',
                          west:  'south',
                          south: 'east'}

var directionPicker = {east:  moveImageOneUnitEast,
                       west:  moveImageOneUnitWest,
                       north: moveImageOneUnitNorth,
                       south: moveImageOneUnitSouth}

var commandConverter = {'turnLeft();': turnLeft,
                        'moveForward();': moveForward};

function throwError() {
  $('.errors').empty();
  $('.errors').append('<p>Oops looks like something went wrong</p>');
}

function runCommands(commands) {
  var counter = 0;
  var i = setInterval(function(){
    if (counter >= 0) {
      if (commandConverter[commands[counter]]) {
        commandConverter[commands[counter]](bird);
        stage.update();
      } else {
        throwError();
        clearInterval(i);
      }
    }
    counter ++;
    if (counter >= commands.length) {
      clearInterval(i);
    }
  }, 1000);
}

function turnLeft(image) {
  orientation = orientationChanger[orientation];
  image.rotation = image.rotation - 90;
  stage.update();
}

function moveForward(image) {
  directionPicker[orientation](image);
}

function moveImageOneUnitEast(image) {
  if (image.x + XPIXELS < stage.canvas.width) {
    image.x += XPIXELS;
  }
}

function moveImageOneUnitWest(image) {
  if (image.x - XPIXELS > 0) {
    image.x -= XPIXELS;
  }
}

function moveImageOneUnitSouth(image) {
  if (image.y + YPIXELS < stage.canvas.height) {
    image.y += YPIXELS;
  }
}

function moveImageOneUnitNorth(image) {
  if (image.y - YPIXELS > 0) {
    image.y -= YPIXELS;
  }
}

var commands = $('textarea').val().split("\n");
runCommands(commands);
