//Logic for moving the player

var orientationChanger = {east:  'north',
                          north: 'west',
                          west:  'south',
                          south: 'east'};

var directionPicker = {east:  moveImageOneUnitEast,
                       west:  moveImageOneUnitWest,
                       north: moveImageOneUnitNorth,
                       south: moveImageOneUnitSouth};

var commandConverter = {'turnLeft': turnLeft,
                        'moveForward': moveForward};

function throwError() {
  $('.errors').empty();
  $('.errors').append('<p>Oops looks like something went wrong</p>');
}

function runCommands(commands) {
  var counter = 0;
  var i = setInterval(function(){
    if (counter >= 0) {
      if (commandConverter[commands[counter]]) {
        commandConverter[commands[counter]](robot);
        stage.update();
      } else {
        throwError();
        clearInterval(i);
      }
    }
    counter ++;

    if (counter >= commands.length) {
      clearInterval(i);
      checkWin();
    }
  }, 500);
}

function turnLeft(image) {
  orientation = orientationChanger[orientation];
  image.rotation = image.rotation - 90;
  stage.update();
}

function moveForward(image) {
  directionPicker[orientation](image);
}

function moveImageOneUnitEast(image) {
  if (image.x + XGRIDUNIT < stage.canvas.width) {
    if (map[gridRow][gridCol + 1] !== 1) {
      image.x += XGRIDUNIT;
      gridCol += 1;
    }
  }
}

function moveImageOneUnitWest(image) {
  if (image.x - XGRIDUNIT > 0) {
    if (map[gridRow][gridCol - 1] !== 1) {
      image.x -= XGRIDUNIT;
      gridCol -= 1;
    }
  }
}

function moveImageOneUnitSouth(image) {
  if (image.y + YGRIDUNIT < stage.canvas.height) {
    if (map[gridRow + 1][gridCol] !== 1) {
      image.y += YGRIDUNIT;
      gridRow += 1;
    }
  }
}

function moveImageOneUnitNorth(image) {
  if (image.y - YGRIDUNIT > 0) {
    if (map[gridRow][gridCol - 1] !== 1) {
      image.y -= YGRIDUNIT;
      gridRow -= 1;
    }
  }
}

function checkWin() {
  if (gridRow === solutionRow && gridCol === solutionCol) {
    $.ajax({
      url: ('/code_lessons/' + lessonID + '/update-win'),
      method: 'post'
    });
  }
}

function parseCommands(text) {
  var lines = text.split(";");
  var masterCommandList = [];
  for (var i = 0; i < lines.length - 1; i++) {
    var command = lines[i].trim();
    var commandString = command.split("(")[0];
    var argString = command.split("(")[1].split(")")[0];
    argString = argString === "" ? 1 : argString;
    for (var j = 0; j < Number(argString); j++) {
      masterCommandList.push(commandString);
    }
  }
  runCommands(masterCommandList);
}

parseCommands($('textarea').val());
